Resources:
  AWSEBRDSDatabase:
    Type: "AWS::RDS::DBInstance"
    Properties:
      AllocatedStorage: "5"
      DBInstanceClass: "db.t3.micro"
      Engine: "postgres"
      EngineVersion: "15.5"
      ManageMasterUserPassword: "true"
      DBInstanceIdentifier: "thyme_and_budget_db"
      DBName: "thyme_and_budget"
      PubliclyAccessible: "true"
      DeletionPolicy: "Delete"

packages:
  yum:
    python3-devel: []
    mariadb105-devel.x86_64: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "thyme_and_budget.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "thyme_and_budget.wsgi:application"

container_commands:
  01_migration:
      command: "source /var/app/venv/*/bin/activate && python manage.py makemigrations"
  02_migrate:
      command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
      leader_only: true
  03_collectstatic:
      command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
      leader_only: true